// General

.section-footer {
  margin-top: 4em;

  a,
  a:visited,
  a:focus {
    color: $brand-blue;

    &:hover,
    &:active {
      color: darken($brand-blue, 10%);
    }
  }
}

.content-general {
  padding: 4em 0 0;

  h2 {
    margin-bottom: 0.5em;
  }

  h3 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

.banner {
  background-color: $brand-blue;
  margin-top: 4em;
  padding: 2em 0 3em;

  h2 {
    margin-bottom: 0.25em;
  }
  .btn {
    margin-top: 0.5em;
  }
}


// Images

img.fluid {
  max-width: 100%;
}

.image-with-caption {
  position: relative;

  img {
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    margin-top: 1.5em;
    max-width: 100%;
  }

  .image-caption {
    color: #f7f7f7;
    font-size: 80%;
    font-style: italic;
    position: absolute; bottom: 0.5em; right: 0.7em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
  }
}



// Partials

@import 'layouts/layout-navbar';
@import 'layouts/layout-masthead';
@import 'layouts/layout-footer';


// Page-Specific Styles

@import 'layouts/layout-home';
@import 'layouts/layout-about';
@import 'layouts/layout-tasting-room';
@import 'layouts/layout-montezuma-old-forge';
@import 'layouts/layout-blog';
