// Navbar

.navbar {
  border: none;
  margin: 0;
}

.navbar-inverse {
  background-color: rgba(0,0,0,0.45);
}

.navbar-default {
  background-color: rgba(255,255,255,0.85);
}


// Media Queries

@media only screen and (min-width: 768px) {

  .navbar-brand {
    height: auto;
    margin-right: 2em;
    padding: 30px 15px;
  }

  .navbar-nav {
    padding: 1.4em 0;
  }

  .navbar-right {
    margin-right: 0;
  }
  
  .navbar-btn {
    margin-top: 28px;
    margin-bottom: 29px;
  }
}