.montezuma-old-forge-wines {
  background-color: #f7f7f7;
}

.montezuma-old-forge-wines h2 {
  font-size: 3em;
}

.montezuma-old-forge-wines h4 {
  color: $brand-green;
  font-weight: bold;
  margin: 1em 0 0.5em;
}

.montezuma-old-forge-wines-intro {
  margin-bottom: 2em;
}