// Martin Family

.martin-family {
  background-color: #3c3c3c;
  color: #8c8c8c;
  font-size: 75%;
  padding: 3em 0;
  text-align: center;

  h3 {
    color: #8c8c8c;
    text-transform: uppercase;
  }

  a,
  a:visited {
    color: #8c8c8c;

    &:hover,
    &:focus,
    &:active {
      color: #8c8c8c;
    }
  }
}


// Footer Links

.footer-links {
  background-color: #4c4c4c;
  color: #8c8c8c;
  font-size: 1.75em;
  padding: 1em 0;
  text-align: center;

  a,
  a:visited {
    color: #8c8c8c;
    margin: 0 0.35em;
    transition: color 0.25s ease;

    &:hover,
    &:focus,
    &:active {
      color: #d3d3d3;
    }
  }
}


// Copyright

.copyright {
  background-color: #3c3c3c;
  color: #8c8c8c;
  font-size: 65%;
  padding: 3em 0;
  text-align: center;

  a,
  a:visited {
    color: #8c8c8c;

    &:hover,
    &:focus,
    &:active {
      color: #8c8c8c;
    }
  }
}