.tasting-room-content.content-general
  .container-fluid
    .row
      .col-sm-6
        header.tasting-room-header
          h2 Seneca Falls
        .tasting-room-info
          p <strong>Hours:</strong> Open daily from 9am&mdash;6pm
          p <strong>Wine Tasting Fee:</strong> $3.00/person or $5.00 for our souvenir wine glass including your tasting
          p <strong>Spirits Tasting Fee:</strong> $1.00/sample or $5.00 for a Brandy Snifter including 1 sample*
          p <strong>Group Reservation Policy:</strong> Reservations are required for all groups of 12 or more. Fee $5.00/person (includes souvenir wine glass). Please call (315) 568-8190 or <a href="#">email us</a> for reservations.
          p <strong>Address:</strong> 2981 U.S. Route 20, Seneca Falls, NY 13148 (GPS Coordinates: N42° 57.006’ W76° 46.038’)

          h3 Directions
          p
            em Please note: Some GPS equipment, Mapquest and Google mapping systems are not always accurate at finding us!
          p <strong>From Syracuse:</strong> Take I-90 (NYS Thruway) West toward Buffalo, take Exit # 41. Follow NYS Thruway directions below.

          p <strong>From Rochester:</strong> Take I-90  (NYS Thruway) East to exit #41. Follow NYS Thruway directions below.

          p <strong>From Ithaca:</strong> Follow Rte 89 North approx. 40 miles to Rte 20.  Drive through traffic light and turn Right into driveway.

          p <strong>From Elmira:</strong> Take I-86 North to Rte 14 North to Route 20 East

          p <strong>From Corning:</strong> Take 414 North to 14N to Route 20 East

          p <strong>From the NY State Thruway:</strong> Exit 41. At light turn Right onto Rte 414 South. Go 1/8 mile to the first light. Turn Left onto Rte 318 East. Go 4 miles to the end of Rte 318. Turn Left onto Rtes 5 &amp; 20 East. Go 200 yards to first light and turn Left onto Rte 89 North. Make an immediate Right into our driveway.

      .col-sm-6
        header.tasting-room-header
          h2 Old Forge
        .tasting-room-info
          p.
            <strong>Hours:</strong> May-Oct: Open daily 10am-7pm<br>            
            Nov-Dec: Saturday 10am-7pm &amp; Sunday 10am-5pm (closed Thanksgiving, Christmas, New Years Day)
          p <strong>Wine Tasting Fee:</strong> $3.00/person or $5.00 for our souvenir wine glass including your tasting
          p <strong>Spirits Tasting Fee:</strong> $1.00/sample or $5.00 for a Brandy Snifter including 1 sample*
          p <strong>Group Reservation Policy:</strong> Sorry, we do not accept groups of more than 12 people.
          p <strong>Address:</strong> 3050 State Route 28, Old Forge NY 13420 (GPS Coordinates: N43° 42.4965’ W74° 58.6061’)
        .image-with-caption
          img(src="images/old-forge-tasting-room.jpg", alt="Old Forge Tasting Room")
          .image-caption Montezuma Old Forge Tasting Room


.banner.banner-gift-shop
  .container-fluid.text-center
    h2 Montezuma Winery Gift Shop
    .row
      .col-sm-8.col-sm-offset-2
        p Looking for a special gift? We have one of the largest gift shops in the area filled with many unique gift ideas including personalized wine labels, custom gift baskets, wine racks, home décor, gourmet foods and our own home-made fudge! Stop by and enjoy the award-winning wines, family atmosphere and extensive gift shop at Montezuma Winery!
        a.btn.btn-primary(href="#") Shop for gifts online

.tasting-room-fine-print.content-general(style="padding-bottom: 4em;")
  .container-fluid
    .row
      .col-sm-8.col-sm-offset-2
        small.text-muted
          * Due to the high percentage of alcohol in spirits, New York State law limits the amount of spirit tastings to three (3) 1/4 oz. samples of spirits per person, per day. Please be prepared to show a valid form of I.D.