section.blog
  .container-fluid
    .row
      .col-md-9.blog-articles
        .row
          .col-md-6
            article.post
              .post-image
                img(src="https://placeimg.com/420/270/nature", alt="")
              .post-content
                header.post-header
                  h3
                    a(href="#") April Wine of the Month: Cranberry Bog
                  .post-meta Posted April 9, 2015
                .excerpt
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa, neque pariatur beatae soluta nostrum.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla perspiciatis vitae mollitia quae, error ullam sequi quaerat, incidunt quibusdam sint.
                a.btn.btn-default(href="#", title="#") Read more
          .col-md-6
            article.post
              .post-image
                img(src="https://placeimg.com/420/270/people", alt="")
              .post-content
                header.post-header
                  h3
                    a(href="#") Michael Keaton Visits Montezuma Winery
                  .post-meta Posted April 9, 2015
                .excerpt
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro facere molestiae repellendus doloremque maiores culpa asperiores officiis dolores velit sed?
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis quis inventore tenetur deserunt amet nostrum excepturi libero itaque mollitia.
                a.btn.btn-default(href="#", title="#") Read more
          .col-md-6
            article.post
              .post-image
                img(src="https://placeimg.com/420/270/any", alt="")
              .post-content
                header.post-header
                  h3
                    a(href="#") New Distillery Opens in Spring of 2016
                  .post-meta Posted April 9, 2015
                .excerpt
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam obcaecati quasi magni vitae eveniet qui quos voluptas, iusto incidunt dicta adipisci ab nemo consequatur quisquam.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam saepe, voluptatum, minus voluptates velit reiciendis ad est dolores praesentium, distinctio rerum ut. Beatae, sapiente quasi laudantium, suscipit fuga natus aliquid. Quaerat, ratione.
                a.btn.btn-default(href="#", title="#") Read more
          .col-md-6
            article.post
              .post-image
                img(src="https://placeimg.com/420/270/nature", alt="")
              .post-content
                header.post-header
                  h3
                    a(href="#") April Wine of the Month: Cranberry Bog
                  .post-meta Posted April 9, 2015
                .excerpt
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa, neque pariatur beatae soluta nostrum.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla perspiciatis vitae mollitia quae, error ullam sequi quaerat, incidunt quibusdam sint.
                a.btn.btn-default(href="#", title="#") Read more
      .col-md-3.blog-sidebar
        .row
          .col-xs-12
            .widget.widget-search
              //- h3 Search
              form(action="")
                .input-group
                  input.form-control(type="text", placeholder="Seach blog posts")
                  span.input-group-btn
                    button.btn(type="button") <span class="glyphicon glyphicon-search"></span>
        .row
          .col-xs-12
            .widget.widget-categories
              h3 Categories
              ul.list-unstyled.link-list
                li
                  a(href="") Montezuma Winery
                li
                  a(href="") Montezuma Old Forge
                li
                  a(href="") Idol Ridge Winery
                li
                  a(href="") Hidden Marsh Distillery
        .row
          .col-xs-12
            .widget.widget-recent-posts
              h3 Recent Posts
              ul.list-unstyled.link-list
                li
                  a(href="") April Wine of the Month: Cranberry Bog
                li
                  a(href="") Michael Keaton Visits Montezuma Winery
                li
                  a(href="") New Distillery Opens in Spring of 2016
        .row
          .col-xs-12
            .widget.widget-archives
              h3 Archives
              ul.list-unstyled.link-list
                li
                  a(href="") March 2015
                li
                  a(href="") February 2015
                li
                  a(href="") January 2015
