.about-awards
  .container-fluid
    h2 Award Winning Wines &amp; Spirits
    .row
      .col-sm-4
        ul.list-unstyled.award-list
          li.double-gold
            h4 Judd's Wreckin' Ball Corn Whiskey
            span.desc NY Wine &amp; Food Classic, 2013
          li.double-gold
            h4 Queens Flight
            span.desc Best Distilled - NY State Fair Commercial Wine Comp, 2013
          li.double-gold
            h4 Fat Frog Red
            span.desc Florida State Fair Commercial Wine Competition, 2012
          li.double-gold
            h4 Cranberry Bog
            span.desc San Francisco Chronicle, 2011
          li.double-gold
            h4 Maple Liqueur
            span.desc 91 Points Excellent, Highly Recommended - Ultimate Spirits Challenge, 2011
          li.double-gold
            h4 Bee Vodka
            span.desc Double Gold &amp; Best of Class - NY State Fair Commercial Wine Competition, 2011
          li.double-gold
            h4 Pintail Sparkling Rhubarb
            span.desc Best of Class - Indy Int'l, 2011
          li.double-gold
            h4 Riesling
            span.desc New York Wine &amp; Food Classic, 2011
          li.gold
            h4 Diamond
            span.desc Florida State Fair Competition, 2013
          li.gold
            h4 Sparkling Mead
            span.desc 90 points, Best Buy - World Wine Championships, 2013
            span.desc Best Buy, 90 points, Exceptional -  Beverage Tasting Institute, 2013
          li.gold
            h4 Lemberger 2011
            span.desc NY Wine &amp; Food Classic, 2013
          li.gold
            h4 Fat Frog Red
            span.desc New York Wine & Food Classic, 2011
      .col-sm-4
        ul.list-unstyled.award-list
          li.silver
            h4 Diamond
            span.desc Finger Lakes International Wine Comp, 2013
          li.silver
            h4 Dragonfly
            span.desc Florida State Fair Competition, 2013
          li.silver
            h4 Sparkling Honey Mead
            span.desc Best of Class - Indy International Wine Competition, 2013
          li.silver
            h4 Fat Frog White
            span.desc Indy International Wine Competition, 2013
          li.silver
            h4 Sweet Mead
            span.desc Best Buy, 88 points, Highly Recommended - Beverage Tasting Institute, 2013
            span.desc NY State Fair Commercial Wine Comp, 2013
          li.silver
            h4 Pinot Noir 2011
            span.desc NY Wine &amp; Food Classic, 2013
          li.silver
            h4 Canvasback Red
            span.desc NY Wine &amp; Food Classic, 2013
          li.silver
            h4 Cayuga White
            span.desc NY Wine &amp; Food Classic, 2013
          li.silver
            h4 Apple Brandy
            span.desc NY State Fair Commercial Wine Comp, 2013
          li.silver
            h4 Judd's Wreckin' Ball Corn Whiskey
            span.desc NY State Fair Commercial Wine Competition, 2012
          li.silver
            h4 Bee Vodka
            span.desc NY State Fair Commercial Wine Competition
      .col-sm-4
        ul.list-unstyled.award-list
          li.bronze
            h4 Pintail
            span.desc Florida State Fair Competition, 2013
          li.bronze
            h4 Fat Frog Blush
            span.desc Indy International Wine Competition, 2013
            span.desc NY State Fair Commercial Wine Comp, 2013
          li.bronze
            h4 Sweet Mead
            span.desc Indy International Wine Competition, 2013
          li.bronze
            h4 Pinot Noir 2011
            span.desc Finger Lakes International Wine Comp, 2013
          li.bronze
            h4 Riesling 2011
            span.desc NY State Fair Commercial Wine Comp, 2013
