.masthead.masthead-about
  .container-fluid
    .row
      .col-sm-6.col-sm-offset-6
        header.about-header.text-right
          h1 Our Story
          p.subtitle
            em A Martin Family History
        p For more than thirty years, George Martin had been a bee keeper. George, along with wife, Virginia and son Ed, maintained and built a honey production and pollination business which contained two thousand hives and took place in Maine, New York, Florida and South Carolina.
        p In 1998 with dropping honey prices and increasing costs the family now with son Bill, began niche marketing their honey. Bill had always dabbled in mead making and home brewing. The Martin Family applied for a farm winery license in 1999 and commercial production of honey wine began. Soon after Martin’s Honey Farm and Meadery in Sterling, New York was born.
        p In 2001, the Martin’s realized the importance of their location in the fruit belt of New York and decided to try their hand at making fruit wines. The concept of Montezuma Winery was then formed. Montezuma Winery quickly took off and was a great success, so much so that we moved the production facilities and gift shop to our 14,000 square foot building in Seneca Falls. Although we do produce high quality grape wines, the focus of our product line is still towards fruit and honey wines.
        p Montezuma Winery, Martin’s Honey Farm and Meadery and Hidden Marsh Distillery have been awarded numerous awards including Gold, Double Gold, Best of Class, Best Fruit wine, and Commercial Mead Champion. Our wine list offers a range from dry to sweet and include Riesling, Blueberry, Rhubarb and our most popular, Cranberry Bog.
        .row
          .col-xs-12.text-center
            img(src="images/logo-montezuma.svg", alt="Montezuma Winery", width="200px", style="margin-top:2em;")