.masthead.masthead-home
  .container-fluid
    .row
      .col-sm-12.col-md-8.text-center
        img(src="images/logo-montezuma.svg", alt="Montezuma Winery", width="550px")
        p.lead(style="padding: 1.5em 0;").
          Located in the heart of the Finger Lakes Region of Seneca Falls, NY and adjacent to the breathtaking Montezuma National Wildlife Refuge, the Martin Family would like to invite you to join them in a tasting of their award winning grape, fruit and honey wines.
        a.btn.btn-primary.btn-lg(href="#", title="#") Shop our wines
      .col-md-4.hidden-sm.hidden-xs
        img(src="images/wine-bottle-masthead.png", alt="Wine Bottle")