section.home-news
  .container-fluid
    header.section-header.text-center
      h2 The Cranberry Blog
    .row
      .col-md-4
        article.post
          .post-image
            img(src="https://placeimg.com/400/250/nature", alt="")
          .post-content
            header.post-header
              h3 April Wine of the Month: Cranberry Bog
              .post-meta Posted April 9, 2015
            .excerpt
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa, neque pariatur beatae soluta nostrum.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla perspiciatis vitae mollitia quae, error ullam sequi quaerat, incidunt quibusdam sint.
            a.btn.btn-default(href="#", title="#") Read more
      .col-md-4
        article.post
          .post-image
            img(src="https://placeimg.com/400/250/people", alt="")
          .post-content
            header.post-header
              h3 Michael Keaton Visits Montezuma Winery
              .post-meta Posted April 9, 2015
            .excerpt
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro facere molestiae repellendus doloremque maiores culpa asperiores officiis dolores velit sed?
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis quis inventore tenetur deserunt amet nostrum excepturi libero itaque mollitia.
            a.btn.btn-default(href="#", title="#") Read more
      .col-md-4
        article.post
          .post-image
            img(src="https://placeimg.com/400/250/any", alt="")
          .post-content
            header.post-header
              h3 New Distillery Opens in Spring of 2016
              .post-meta Posted April 9, 2015
            .excerpt
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam obcaecati quasi magni vitae eveniet qui quos voluptas, iusto incidunt dicta adipisci ab nemo consequatur quisquam.
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam saepe, voluptatum, minus voluptates velit reiciendis ad est dolores praesentium, distinctio rerum ut. Beatae, sapiente quasi laudantium, suscipit fuga natus aliquid. Quaerat, ratione.
            a.btn.btn-default(href="#", title="#") Read more
    footer.section-footer.text-center
      a(href="#") Read more news at the Cranberry Blog &raquo;