extends layouts/default
block content

  include includes/home/home-masthead.jade
  include includes/home/home-slider.jade
  include includes/home/home-wines.jade
  include includes/home/home-news.jade