extends layouts/default
block content

  include includes/montezuma-old-forge/montezuma-old-forge-masthead.jade
  include includes/montezuma-old-forge/montezuma-old-forge-content.jade
  include includes/montezuma-old-forge/montezuma-old-forge-wines.jade