.content-general.montezuma-old-forge-wines(style="padding-bottom: 4em;")
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        .row.montezuma-old-forge-wines-intro
          .col-sm-8.col-sm-offset-2
            h2.text-center Old Forge Wines
            p These wines are specially labeled for our Old Forge location. The labels exhibit a feeling of the Adirondacks and Old Forge. Visited my tourist all year, the Adirondacks is a place for relaxation.
            p The Moose River series labels were created by artist Sandra Hildreth of Saranac Lake. Prints of the artwork are also being sold at our winery in Old Forge. The Camper's series labels were created by artist Wendy Barcus who was employed by Montezuma Winery and now lives in Tennessee.
        .row
          .col-sm-3
            img.fluid(src="images/old-forge-label-moose-river-white.jpg", alt="Moose River White")
            h4 Moose River White
            p
              small Also known as Wetland White in our Seneca Falls location, this aromatic white blend exudes a complex bouquet of lychee, stone fruit and citrus, with lingering undertones of spice. It balances exceptional fruit flavor with brilliant acidity. Pairs well with spicy Thai cuisine.
          .col-sm-3
            img.fluid(src="images/old-forge-label-moose-river-red.jpg", alt="Moose River Red")
            h4 Moose River Red
            p
              small Also known as Red-Tailed Red in our Seneca Falls location, this hybrid blend of DeChaunac, Leon Millot and Maréchal Foch has aromas of oak and light raspberry. Medium bodied, it exhibits the perfect balance of fruit with black currant and berry contrasting with light tannin, coffee and oak finish.
          .col-sm-3
            img.fluid(src="images/old-forge-label-campers-white.jpg", alt="Camper's White")
            h4 Camper's White
            p
              small Light bodied and sweet with the characteristic aroma and flavor of freshly picked native grapes and just the right fruitiness for fun summers and camping cuisine.
          .col-sm-3
            img.fluid(src="images/old-forge-label-campers-red.jpg", alt="Camper's Red")
            h4 Camper's Red
            p
              small
                em Double Gold &amp; Gold Medal Winner!
            p
              small Also known as Red Wing in our Seneca Falls location, light bodied and sweet with a light red color, aromas of cotton candy and cherry with distinctive Catawba grape character. This wine is a great refresher for spring and summer picnics.<br>