.content-general.montezuma-old-forge-content(style="margin-bottom: 4em;")
  .container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        .row
          .col-sm-6
            img.fluid(src="images/happy-people-orange.jpg", alt="Montezuma Old Forge Tasting Room")
          .col-sm-6
            h2 Montezuma Winery Old Forge Tasting Room
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium debitis, velit earum itaque vero, fuga voluptatum tempora ipsam aliquam aspernatur.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure maiores consequatur nihil consequuntur atque maxime placeat, eum eligendi a libero.
            a.btn.btn-primary(href="/tasting-room.html", style="margin-top: 1em;") Visit Old Forge today
