.masthead.masthead-general.masthead-contact-us
  .container-fluid.text-right
    h1 Contact Us
    .row
      .col-sm-8.col-sm-offset-4
        p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi, nam, magni! Error asperiores qui voluptates soluta ab quae eos beatae.
