.masthead
  .container-fluid
    .row
      .col-sm-8.text-center(style="margin-top:4em;")
        img(src="images/logo-montezuma.svg", alt="Montezuma Winery", width="550px")
        p.lead(style="padding: 1.5em 0;").
          Located in the heart of the Finger Lakes Region of Seneca Falls, NY and adjacent to the breathtaking Montezuma National Wildlife Refuge, the Martin Family would like to invite you to join them in a tasting of their award winning grape, fruit and honey wines.
        a.btn.btn-primary.btn-lg(href="#", title="#") Shop our wines
      .col-sm-4
        img(src="images/wine-bottle-masthead.png", alt="Wine Bottle")
      //- .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.text-center
        img(src="images/logo-montezuma.svg", alt="Montezuma Winery", width="550px")
        p.lead(style="padding: 1.5em 0;").
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti maxime, cumque dolore, vel ducimus quam facilis dolorum blanditiis asperiores, voluptas, nemo inventore sunt tempore fuga. Sed animi unde facilis.
        a.btn.btn-primary.btn-lg(href="#", title="#") Shop our wines
        //- h1 Montezuma Winery
        //- p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam optio vitae nemo laborum facere minima quibusdam ipsam labore obcaecati odio.