section.home-news
  .container-fluid
    h2 the Cranberry Blog
    .row
      .col-sm-8
        .row
          .col-md-6
            article.post
              .post-image
                img(src="https://placeimg.com/400/250/nature", alt="")
              .post-content
                header.post-header
                  h3 April Wine of the Month: Cranberry Bog
                  .post-meta Posted April 9, 2015
                .excerpt
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam culpa, neque pariatur beatae soluta nostrum.
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla perspiciatis vitae mollitia quae, error ullam sequi quaerat, incidunt quibusdam sint.
                a.btn.btn-default(href="#", title="#") Read more
          .col-md-6
            article.post
              .post-image
                img(src="https://placeimg.com/400/250/people", alt="")
              .post-content
                header.post-header
                  h3 Michael Keaton Visits Montezuma Winery
                  .post-meta Posted April 9, 2015
                .excerpt
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro facere molestiae repellendus doloremque maiores culpa asperiores officiis dolores velit sed?
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis quis inventore tenetur deserunt amet nostrum excepturi libero itaque mollitia.
                a.btn.btn-default(href="#", title="#") Read more

      .col-sm-4