section.home-wines
  .container-fluid.text-center
    .row
      .col-sm-3.wine-block
        .wine-block-image
          img(src="images/wine-bottle-ph.png", alt="Wine Image")
        .wine-block-content
          h3 Fat Frog Red
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, libero.
          a.btn.btn-primary.btn-lg(href="#") Buy now
      .col-sm-3.wine-block
        .wine-block-image
          img(src="images/wine-bottle-ph.png", alt="Wine Image")
        .wine-block-content
          h3 Golden Delicious
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, nemo.
          a.btn.btn-primary.btn-lg(href="#") Buy now
      .col-sm-3.wine-block
        .wine-block-image
          img(src="images/wine-bottle-ph.png", alt="Wine Image")
        .wine-block-content
          h3 Lake Effect Blush
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, voluptates.
          a.btn.btn-primary.btn-lg(href="#") Buy now
      .col-sm-3.wine-block
        .wine-block-image
          img(src="images/wine-bottle-ph.png", alt="Wine Image")
        .wine-block-content
          h3 Dragonfly
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, atque.
          a.btn.btn-primary.btn-lg(href="#") Buy now